* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__img {
  background: url("https://images.pexels.com/photos/3953481/pexels-photo-3953481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center/cover;
  height: 400px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 400px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 2.5rem;
  text-align: center;
  text-transform: capitalize;
}
.articles__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}
@media (max-width: 745px) {
  .articles__container {
    flex-direction: column;
  }
}
.loading {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
  margin-top: 5rem;
}
.main-articles__container {
  flex: 8;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(235, 235, 213, 0.7);
}

/*Main article section/ Top articles by section*/
.main-articles__intro {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #333;
  margin: 30px 0;
}
/*Searchable articles section*/

.searchable-articles {
  flex: 4;
}
.searchable-articles__search {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchable-articles__intro {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #333;
}
